<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>NavbarAdmin</title>
</head>
<body>
<nav th:fragment="navbarAgente">
    <a class="btn btn-sm btn-outline-primary" th:href="@{/Admin/Salas}">Salas <span class="sr-only"></span></a>
    <a class="btn btn-sm btn-outline-primary" th:href="@{/Admin/Peliculas}">Peliculas <span class="sr-only"></span></a>
    <a class="btn btn-sm btn-outline-primary" th:href="@{/Admin/Proyecciones}">Proyecciones <span class="sr-only"></span></a>
    <p>Bienvenido ADMIN</p>
    <a class="btn btn-sm btn-outline-primary" th:href="@{/Admin/CerrarSesion}">Cerrar Sesión <span class="sr-only"></span></a>

</nav>
</body>
</html>